@import "tailwindcss";

@theme {
  --color-yellow: #f4d04e;
  --color-grey-950: #111111;
  --color-grey-500: #6b6b6b;

  --spacing-300: 24px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;

  --font-weight-500: 500;
  --font-weight-800: 800;

  --text-m: 16px;
  --text-s: 14px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
